

body{
  font-family: 'Press Start 2P', cursive;
  max-width: 600px;
  margin: 0 auto;
}
.main{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  padding: 24px;
}
.pixel{
  -webkit-filter: contrast(0) sepia(10%) hue-rotate(190deg) saturate(100%) brightness(100%);
  filter: contrast(0.01) sepia(10%) hue-rotate(190deg) saturate(100%) brightness(100%);
  opacity: 1;
}

.nes-input{
  border:3px solid rgb(19, 189, 231);
  margin-bottom: 30px;
  margin-top: 30px;
}

.buttons{
  padding-bottom: 50px;
  margin: 0 auto;
}
.error{
  color: rgb(179, 60, 60);
}
.success{
  color: green;
}
.points{
  padding-bottom: 40px;
}